<div class="modal-backdrop" (click)="cerrarModal()"></div>
 <div *ngIf="isLoading" class="loading">
    <mat-spinner diameter="50" style="margin: auto;"></mat-spinner>
    <p style="text-align: center;">Cargando...</p>
  </div>
<div class="modal-container mat-elevation-z8">
  <header class="modal-header">
    <h3>Garantía {{ dataLLamadaServicio?.ServiceCallID }}</h3>
  </header>

<nav class="tabs">
  <button
    [class.active]="tabSeleccionada === 'general'"
    (click)="cambiarTab('general')">
    <span class="material-icons">info</span> Información General
  </button>

  <button
    [class.active]="tabSeleccionada === 'detalle'"
    (click)="cambiarTab('detalle')">
    <span class="material-icons">inventory_2</span> Documentos relacionados
  </button>

  <button
    [class.active]="tabSeleccionada === 'anexos'"
    (click)="cambiarTab('anexos')">
    <span class="material-icons">attach_file</span> Anexos
  </button>

   <button *ngIf="mostrarAgregarOferta"
    [class.active]="tabSeleccionada === 'agregar'"
    (click)="cambiarTab('agregar')">
    <span class="material-icons">add</span> Agregar Oferta
  </button>
 
</nav>


  <section class="modal-body">

  


    <div *ngIf="tabSeleccionada === 'general'" class="tab-content p-3">
      <div class="row">
        <!-- Columna izquierda -->
        <div class="col-md-6">
          <!-- Código Socio -->
          <div class="row mb-2">
            <label class="col-sm-4 text-verde-makita">Rut Cliente :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio.CustomerCode }}</span>
            </div>
          </div>

          <!-- Nombre Cliente -->
          <div class="row mb-2">
            <label class="col-sm-4 text-verde-makita">Nombre Cliente :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio.CustomerName }}</span>
            </div>
          </div>

          <!-- Numeor Telefono -->
          <div class="row mb-2">
            <label class="col-sm-4 text-verde-makita">Número de télefono :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio.Telephone }}</span>
            </div>
          </div>

          <!-- Serie Fabricante-->
          <div class="row mb-2">
            <label class="col-sm-4 text-verde-makita">Número de Serie fabricante :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio.Series }}</span>
            </div>
          </div>

          <!-- Serie -->
          <div class="row mb-2">
            <label class="col-sm-4 text-verde-makita">Número de Serie :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio?.InternalSerialNum }}</span>
            </div>
          </div>

          <!-- Modelo -->
          <div class="row mb-2">
            <label class="col-sm-4 text-verde-makita">Modelo :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio?.ItemCode }}</span>
            </div>
          </div>
           <!-- Descripción -->
          <div class="row mb-2">
            <label class="col-sm-4 text-verde-makita">Descripción :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio?.ItemDescription }}</span>
            </div>
          </div>

           <!-- Descripción -->
          <div class="row mb-2">
            <label class="col-sm-4 text-verde-makita">Tipo de llamada :</label>
            <div class="col-sm-6">
              <span class="fw-bold">{{ dataLLamadaServicio?.tipoLLamada }}</span>
            </div>
          </div>
        </div>
        <!-- Columna derecha -->
        <div class="col-md-6">
          <div class="row mb-2 ajuste-derecha">
            <label class="col-sm-4 text-verde-makita">N° Documento :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio?.DocNum }}</span>
            </div>
          </div>
          <div class="row mb-2 ajuste-derecha" >
            <label class="col-sm-4 text-verde-makita">Status :</label>
            <div class="col-sm-6">
              <span 
                [ngClass]="{
                  'pendiente': dataLLamadaServicio?.Status === -3,
                  'pendientesIncompletas': dataLLamadaServicio?.Status === -2,
                  'rechazado': dataLLamadaServicio?.Status === -1
                }">
                {{
                 dataLLamadaServicio?.Status === -3 ? 'Abierta' : 
                 dataLLamadaServicio?.Status === -1 ? 'Cerrada' : 
                 dataLLamadaServicio?.Status === -2 ? 'Pendiente e incompleta' : 
                 dataLLamadaServicio?.Status }}
              </span>
            </div>
          </div>
          <div class="row mb-2 ajuste-derecha">
            <label class="col-sm-4 text-verde-makita">N° de llamada :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio?.ServiceCallID }}</span>
            </div>
          </div>

          <div class="row mb-2 ajuste-derecha">
            <label class="col-sm-4 text-verde-makita">Creado :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio?.CreationDate | date:'dd/MM/yyyy' }}</span> - <span>{{dataLLamadaServicio?.CreationTime}}</span>
            </div>
          </div>
          <div class="row mb-2 ajuste-derecha">
            <label class="col-sm-4 text-verde-makita">Nombre distribuidor :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio?.U_U_NombreDistribuidor }}</span>
            </div>
          </div>
          <div class="row mb-2 ajuste-derecha">
            <label class="col-sm-4 text-verde-makita">Nombre consumidor :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio?.U_U_NombreConsumidor }}</span>
            </div>
          </div>
          <div class="row mb-2 ajuste-derecha">
            <label class="col-sm-4 text-verde-makita">Rut consumidor :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio?.U_U_RutConsumidor }}</span>
            </div>
          </div>
        </div>
        <div></div>          
        <div class="col-md-12" style="margin-top: 2%;">
          <div class="row mb-2">
            <label class="col-sm-2 text-verde-makita">Asunto :</label>
            <div class="col-sm-8">
              <span  style="font-weight: bold;background-color: beige;">{{ dataLLamadaServicio?.Subject }}</span>
            </div>
          </div> 
         
          <div class="row mb-2">
            <label class="col-sm-2 text-verde-makita">Observación :</label>
            <div class="col-sm-8">
              <textarea rows="5" disabled= "true" style="font-weight: bold;">{{ dataLLamadaServicio?.Description }}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="tabSeleccionada === 'general' && (mostrarMotivos || mostrarComentarioRechazo)" class="tab-content">
      <label class  ="text-verde-makita"  for="comentario" style="padding-top: 3%;"><strong>Resolución:</strong></label>
        <textarea
          id="comentario"
          [(ngModel)]="comentarios"
          (ngModelChange)="validarComentario(data)"
          placeholder="Motivos del cierre ..."
          rows="5"
          [disabled]="dataLLamadaServicio?.Status === -1"
          >
        </textarea>
    </div>
   
    <div *ngIf="tabSeleccionada === 'general' && mostrarBotonesInferiores && dataLLamadaServicio?.rol != 'ST'"  class="botones-acciones">
      
      <button
       *ngIf="!mostrarBotonCerrar"
        class="btn-rechazar"
        [disabled]="deshabilitarBotonera"
        (click)="cerrar(data)"
        >
        {{botonCerrar}}
      </button>
      

      <button
       *ngIf="mostrarBotonConfirmarCierre"
        class="btn-rechazar"
        [disabled]="!confirmarRechazoHabilitado"
        (click)="confirmarCierre(data)"
        >
        {{botonConfirmarCerrar}}
      </button>

    </div>

    <div *ngIf="tabSeleccionada === 'agregar'" class="tab-content">
      <form [formGroup]="formularioRepuestos">
        <div formArrayName="repuestos">
          <div *ngFor="let repuesto of repuestos.controls; let i = index" [formGroupName]="i" class="fila-repuesto">
            <div class="campos-repuesto">
              <mat-form-field appearance="fill">
                <mat-label>Código *</mat-label>
                <input
                  matInput
                  formControlName="codigo"
                  [matAutocomplete]="auto"
                  (input)="buscarRepuestos($event.target.value, i)"
                />
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="seleccionarModelo(i, $event.option.value)">
                  <mat-option *ngFor="let item of modelosFiltrados[i]" [value]="item.ItemCode">
                    {{ item.ItemCode }} - {{ item.ItemName }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              

              <mat-form-field appearance="fill">
                <mat-label>Descripción *</mat-label>
                <input matInput formControlName="descripcion" />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Cantidad *</mat-label>
                <input matInput type="number" formControlName="cantidad" />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Stock *</mat-label>
                <input matInput type="number" formControlName="stock" readonly/>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Precio *</mat-label>
                <input matInput type="number" formControlName="precio" readonly  />
              </mat-form-field>

              <button mat-icon-button color="warn" (click)="eliminarRepuesto(i)" matTooltip="Eliminar">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <mat-divider></mat-divider>
          </div>
        </div>

        <button mat-stroked-button color="primary" type="button" (click)="agregarRepuesto()" class="boton-agregar">
          <mat-icon>add</mat-icon> Agregar otro repuesto
        </button>
      </form>
      
      <div class="botones-acciones-agregar">
        <button mat-button (click)="cerrarModal()">Cancelar</button>
        <button
          mat-flat-button
          [disabled]="formularioRepuestos.invalid"
          [ngClass]="{ 'boton-guardar-habilitado': formularioRepuestos.valid, 'boton-guardar-deshabilitado': formularioRepuestos.invalid }"
          (click)="guardar()"
        >
          Guardar
        </button>
      </div>
    </div>
    
    <mat-accordion *ngIf="tabSeleccionada === 'detalle'" multi>
      <mat-expansion-panel *ngFor="let oferta of dataOferta?.llamada">
        <!-- Encabezado Oferta -->
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 500;">
            Oferta de Venta Nº {{ oferta.DocumentNumber }}
          </mat-panel-title>
          <mat-panel-description>
            <div class="header-container">
              <span class="fecha">Fecha: {{ oferta.DocumentPostingDate | date:'dd/MM/yyyy' }}</span>
              
              <span 
                class="estado" 
                [ngClass]="{'cerrada': oferta.Status === 'bost_Close', 'abierta': oferta.Status !== 'bost_Close'}">
                {{ oferta.Status === 'bost_Close' ? 'Cerrada' : 'Abierta' }}
              </span>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Tabla con rowspan -->
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Oferta</th>
              <th>Fecha</th>
              <th>Item</th>
              <th>Descripción</th>
              <th>Cantidad</th>
              <th>Stock</th>
              <th>Bodega</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let repuesto of oferta.Pedido">
              <!-- Mostrar Oferta y Fecha solo en la primera fila -->
              <td *ngIf="repuesto.LineNum === 0" [attr.rowspan]="oferta.Pedido.length">
                {{ oferta.DocumentNumber }}
              </td>
              <td *ngIf="repuesto.LineNum === 0" [attr.rowspan]="oferta.Pedido.length">
                {{ oferta.DocumentPostingDate | date:'dd/MM/yyyy' }}
              </td>

              <!-- Detalle de repuestos -->
              <td>{{ repuesto.ItemCode }}</td>
              <td>{{ repuesto.ItemDescription }}</td>
              <td>{{ repuesto.Quantity }}</td>
              <td>{{ repuesto.StockBod01 }}</td>
              <td>{{ repuesto.WarehouseCode }}</td>
            </tr>
          </tbody>
         
        </table>
        <div style="padding-top: 2%;margin-right: 20%;">
          <label style="margin-left: -1%" class="col-sm-2 text-verde-makita">Comentario :</label>
          <span  style="font-weight: bold;background-color: beige;">{{ oferta?.Comments }}</span>
        </div> 

        <!-- Botones de acción -->  
          
        <div *ngIf="oferta.Status !== 'bost_Close' && mostrarBotonesAccion"   class="botones-acciones">
            <button class="btn-aprobar" (click)="aprobarOferta(oferta)">
              Aprobar oferta
            </button>
            <button class="btn-rechazar" (click)="rechazarOferta(oferta)">
              Rechazar oferta
            </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
   

    <div *ngIf="tabSeleccionada === 'anexos'" class="tab-content">
      <h4 style="margin-bottom: 1rem;">Documentos Adjuntos</h4>
        
       <div *ngIf="anexos.length > 0; else sinAnexos">
        <ul>
          <li *ngFor="let doc of anexos">
            <a href="#" (click)="abrirDocumento(doc); $event.preventDefault()">
              {{ doc.nombre }}
            </a>
            <small *ngIf="descargando[doc.nombre]"> (descargando...)</small>
          </li>
        </ul>
      </div>

      <ng-template #sinAnexos>
        <p>No se encontraron documentos adjuntos para esta garantía.</p>
      </ng-template>
    </div>
   

  </section>
</div>
