<div class="modal-backdrop" (click)="cerrarModal()"></div>

<div class="modal-container mat-elevation-z8">
  <header class="modal-header">
    <h3>Garantía</h3>
  </header>

<nav class="tabs">
  <button
    [class.active]="tabSeleccionada === 'general'"
    (click)="tabSeleccionada = 'general'">
    <span class="material-icons">info</span> Información General
  </button>

  <button
    [class.active]="tabSeleccionada === 'detalle'"
    (click)="tabSeleccionada = 'detalle'">
    <span class="material-icons">inventory_2</span> Oferta de Venta
  </button>

  <button
    [class.active]="tabSeleccionada === 'anexos'"
    (click)="tabSeleccionada = 'anexos'">
    <span class="material-icons">attach_file</span> Anexos
  </button>
</nav>


  <section class="modal-body">

    <div *ngIf="isLoading" id="loader" class="overlay">
      <img src="../../../assets/img/loader-preview.svg" alt="loading" />
    </div>


    <div *ngIf="tabSeleccionada === 'general'" class="tab-content p-3">
      <div class="row">
        <!-- Columna izquierda -->
        <div class="col-md-6">
          <!-- Código Socio -->
          <div class="row mb-2">
            <label class="col-sm-4 text-verde-makita">Rut Cliente :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio.RutServicioTecnico }}</span>
            </div>
          </div>

          <!-- Nombre Cliente -->
          <div class="row mb-2">
            <label class="col-sm-4 text-verde-makita">Nombre Cliente :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio.NombreServicioAut }}</span>
            </div>
          </div>

          <!-- Serie -->
          <div class="row mb-2">
            <label class="col-sm-4 text-verde-makita">Serie :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio.serie }}</span>
            </div>
          </div>

          <!-- Modelo -->
          <div class="row mb-2">
            <label class="col-sm-4 text-verde-makita">Modelo :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio.Modelo }}</span>
            </div>
          </div>

          <!-- Descripción -->
          <div class="row mb-2">
            <label class="col-sm-4 text-verde-makita">Descripción :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio.DescripcionHerramienta }}</span>
            </div>
          </div>

          <!-- Tipo Item -->
          <div class="row mb-2">
            <label class="col-sm-4 text-verde-makita">Tipo Item :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio.tipoItem }}</span>
            </div>
          </div>

          <div class="row mb-2">
            <label class="col-sm-4 text-verde-makita">Observación :</label>
            <div class="col-sm-6">
              <textarea rows="4" disabled= "true" style="font-weight: bold;">{{ dataLLamadaServicio.Observacion }}</textarea>
            </div>
          </div>
        </div>

        <!-- Columna derecha -->
        <div class="col-md-6">
          <div class="row mb-2 ajuste-derecha" >
            <label class="col-sm-4 text-verde-makita">Status :</label>
            <div class="col-sm-6">
              <span 
                [ngClass]="{
                  'pendiente': dataLLamadaServicio.EstadoSAP === 'EnProcesoAprobacion',
                  'aprobado': dataLLamadaServicio.EstadoSAP === 'Aprobado',
                  'rechazado': dataLLamadaServicio.EstadoSAP === 'Rechazado'
                }">
                {{ dataLLamadaServicio.EstadoSAP === 'EnProcesoAprobacion' ?  'Pendiente de Aprobación' :  dataLlamadaServicio.EstadoSAP }}
              </span>
            </div>
          </div>
          <div class="row mb-2 ajuste-derecha">
            <label class="col-sm-4 text-verde-makita">ID de llamada :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio.servicioLlamada }}</span>
            </div>
          </div>
          <div class="row mb-2 ajuste-derecha">
            <label class="col-sm-4 text-verde-makita">Fecha creación :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio.FechaAbertura | date:'dd/MM/yyyy' }}</span>
            </div>
          </div>
          <div class="row mb-2 ajuste-derecha">
            <label class="col-sm-4 text-verde-makita">Oferta asociada :</label>
            <div class="col-sm-6">     
              <span>{{ dataLLamadaServicio.DocNumAsociado }}</span>
            </div>
          </div>
          <div class="row mb-2 ajuste-derecha">
            <label class="col-sm-4 text-verde-makita">Nombre distribuidor :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio.Revendedor }}</span>
            </div>
          </div>
          <div class="row mb-2 ajuste-derecha">
            <label class="col-sm-4 text-verde-makita">Nombre consumidor :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio.NombreConsumidor }}</span>
            </div>
          </div>
          <div class="row mb-2 ajuste-derecha">
            <label class="col-sm-4 text-verde-makita">Rut consumidor :</label>
            <div class="col-sm-6">
              <span>{{ dataLLamadaServicio.RutConsumidor }}</span>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      
    </div>

    
    <div *ngIf="tabSeleccionada === 'general' && (mostrarMotivos || mostrarComentarioRechazo)" class="tab-content">
      <label class  ="text-verde-makita"  for="comentario" style="padding-top: 3%;"><strong>Motivos / Observaciones:</strong></label>
        <textarea
          id="comentario"
          [(ngModel)]="comentarios"
          (ngModelChange)="validarComentario(data)"
          placeholder="Motivos del rechazo ..."
          rows="5"
          [disabled]="data.EstadoSAP === 'RECHAZADO'">
        </textarea>
    </div>

    <div *ngIf="tabSeleccionada === 'general' && mostrarBotonesInferiores"  class="botones-acciones">
      <button 
        *ngIf="!mostrarBotonRechazar" 
        class="btn-aprobar" 
        (click)="aprobar()"
        [disabled]="habilitarBotonera">
        {{botonAprobar}}
      </button>
      <button
       *ngIf="!mostrarBotonRechazar"
        class="btn-rechazar"
        [disabled]="habilitarBotonera"
        (click)="rechazar(data)"
        >
        {{ botonRechazar }}
      </button>
      <button
        *ngIf="mostrarBotonRechazar"
        class="btn-rechazar"
        [disabled]="mostrarMotivos && !comentarios.trim()"
        [ngClass]="{ 'disabled-btn': mostrarMotivos && !comentarios.trim() }"
        (click)="enviarRechazo(data)">
        Enviar Rechazo
      </button>
      <button
        *ngIf="mostrarBotonRechazar"
        (click)="cerrarModal()"
        [disabled]="habilitarBotonera"
        type="button"
        class="btn-aprobar" 
        data-bs-dismiss="modal">
        Cancelar
       
      </button>

    </div>
    
    <mat-accordion *ngIf="tabSeleccionada === 'detalle'" multi>
     <mat-expansion-panel *ngFor="let oferta of dataOferta?.llamada">
       
    
      <!-- Encabezado Oferta -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          Oferta Nº {{ oferta.DocumentNumber }}
        </mat-panel-title>
        <mat-panel-description>
          <div class="header-container">
            <span class="fecha">Fecha: {{ oferta.DocumentPostingDate | date:'dd/MM/yyyy' }}</span>
           
            <span 
            class="estado" 
            [ngClass]="{'cerrada': oferta.Status === 'bost_Close', 'abierta': oferta.Status !== 'bost_Close'}">
            {{ oferta.Status === 'bost_Close' ? 'Cerrada' : 'Abierta' }}
          </span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Tabla con rowspan -->
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Oferta</th>
            <th>Fecha</th>
            <th>Item</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Bodega</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let repuesto of oferta.Pedido">
            <!-- Mostrar Oferta y Fecha solo en la primera fila -->
            <td *ngIf="repuesto.LineNum === 0" [attr.rowspan]="oferta.Pedido.length">
              {{ oferta.DocumentNumber }}
            </td>
            <td *ngIf="repuesto.LineNum === 0" [attr.rowspan]="oferta.Pedido.length">
              {{ oferta.DocumentPostingDate | date:'dd/MM/yyyy' }}
            </td>

            <!-- Detalle de repuestos -->
            <td>{{ repuesto.ItemCode }}</td>
            <td>{{ repuesto.ItemDescription }}</td>
            <td>{{ repuesto.Quantity }}</td>
            <td>{{ repuesto.WarehouseCode }}</td>
          </tr>
        </tbody>
      </table>

      </mat-expansion-panel>
    </mat-accordion>

    
    <div *ngIf="tabSeleccionada === 'anexos'" class="tab-content">
      <h4 style="margin-bottom: 1rem;">Documentos Adjuntos</h4>
      
      <div *ngIf="data.documentos && data.documentos.length > 0; else sinDocumentos">
        <ul>
          <li *ngFor="let doc of data.documentos">
           <a href="javascript:void(0)" (click)="abrir(doc)">
            <span class="material-icons">attach_file</span> Ver documento
          </a>
          </li>
        </ul>
      </div>

      <ng-template #sinDocumentos>
        <p>No se encontraron documentos adjuntos para esta garantía.</p>
      </ng-template>
    </div>

  </section>
</div>
