<div class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-12">
  
          <!-- Loader -->
          <div *ngIf="isLoading" id="loader" class="overlay">
            <img src="../../../assets/img/loader-preview.svg" alt="loading" />
          </div>
  
          <!-- Contenido reconteo -->
          <div *ngIf="cantidadReconteo > 0 && !isLoading" class="card-reconteo mat-elevation-z8 animate-fadeIn">
    
            <div class="text-box">
              <h2 *ngIf="showMostrarBody" class="highlight-text">
                ¡Tienes <span class="cantidad">{{ cantidadReconteo }}</span> ítems de
                <span class="tipo">{{ tipoItem }}</span> para recontar!
              </h2>
              
              <h2 *ngIf="showMostrarTarjetas" class="highlight-text">
                ¡El proceso de <span class="cantidad">reconteo {{ reconteosData }}</span> para 
                <span class="tipo">{{ tipoItem }}</span> esta en ejecución!
              </h2>
              <div *ngIf="showMostrarTarjetas" class="progress-container">
                <div class="progress-text">
                  <span>Reconteo: <strong>{{ItemsRecibidos}}</strong> de <strong>{{ItemsEnviados}}</strong> ítems</span>
                </div>
                <mat-progress-bar
                  mode="determinate"
                  [value]="(ItemsRecibidos / ItemsEnviados) * 100"
                  color="accent"
                  class="progress-bar"
                ></mat-progress-bar>
              </div>
              <div *ngIf="showMostrarTarjetas" style="padding-top: 3%;">
              <!-- <button
                  mat-raised-button
                  color="primary"
                  style="background-color: #00909E;"
                  (click)="exportToExcel()"
                  matRipple>
                  <mat-icon>download</mat-icon> Exportar a Excel
                </button>-->  

                <button
                  mat-raised-button
                  color="primary"
                  style="background-color: #00909E;margin-left: 1%;"
                  (click)="actualizarDatos()"
                  matRipple>
                  <mat-icon>refresh</mat-icon> Actualizar
                </button>
              </div>
          </div>
          </div>
          
          <!-- Sección de asignación de operarios -->
          <div *ngIf="showMostrarBody && !isLoading" class="card-operarios mat-elevation-z4 animate-slideIn">

            <h3 class="titulo-operarios">
            👷‍♂️ Asigna los operarios para el reconteo
            </h3>
        
            <!-- Selección de cantidad de operarios -->
            <div class="input-group">
            <mat-form-field appearance="fill" class="cantidad-operarios-field">
                <mat-label>Cantidad de operarios</mat-label>
                <input matInput type="number" [(ngModel)]="cantidadPersonas" (change)="actualizarOperarios()" min="1" max="100">
            </mat-form-field>
            </div>
        
            <!-- Lista dinámica de select de operarios -->
            <div class="operarios-list">
            <div *ngFor="let operario of operarios; let i = index" class="operario-card mat-elevation-z2">
                <mat-icon>person</mat-icon>
                <span>Operario {{ i + 1 }}:</span>
                <mat-form-field appearance="outline" class="select-field">
                <mat-select [(ngModel)]="operarios[i].nombre" placeholder="Seleccionar operario">
                    <mat-option *ngFor="let persona of operariosAsignados" [value]="persona.Usuario">
                    {{ persona.Usuario }}
                    </mat-option>
                </mat-select>
                </mat-form-field>
            </div>
            </div>
        
            <!-- Vista de operarios asignados -->
            <div *ngIf="operarios.length > 0" class="asignados-container">
            <mat-card class="mat-elevation-z2 asignados-card">
                <mat-card-title>✅ Operarios Asignados</mat-card-title>
                <mat-card-content>
                <div class="nombres-grid">
                    <div *ngFor="let operario of operarios; let i = index" class="nombre-item">
                    <mat-icon>badge</mat-icon>
                    {{ i + 1 }} - {{ operario.nombre }}
                    </div>
                </div>
                </mat-card-content>
            </mat-card>
            </div>
        
            <!-- Botón para agregar -->
            <div class="boton-agregar-container">
            <button mat-raised-button color="accent" (click)="agregarNombre()" [disabled]="operarios.length == 0">
                <mat-icon>person_add</mat-icon> Agregar Operario
            </button>
            </div>
          </div>
  
          <div *ngIf="showMostrarTarjetas && cantidadReconteo > 0" class="row">
            <div class="col-md-12">
                <mat-accordion>
                    <mat-expansion-panel style="margin-top: 2%;">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="color: #00909E;">Detalles de asignacion</mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="row">
                            <div class="col-md-3 mb-3 tarjeta-reconteo" *ngFor="let grupo of groupedByUsuario">
                                <div class="card-header text-center">
                                    <p style="margin: 0.5em 0 0 0; font-style: italic; color: #888;">
                                        Asignado: <strong style="color: #333;">{{ grupo.data[0]?.Usuario }}</strong>
                                    </p>
                                  
                                    <p style="margin: 0; font-weight: bold; color: #004d4d;">
                                        ESTADO: <span style="color: #009688;">{{ grupo.data[0]?.Estado }}</span>
                                    </p>
                                    <p style="margin: 0; font-weight: bold; color: #004d4d;">
                                      ITEMS: <span style="color: #007bff;">{{ grupo.data.length }}</span>
                                  </p>
                                  
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <br>
            <br>
            
            <div class="col-md-12">
              <mat-accordion>
                <mat-expansion-panel style="margin-top: 2%;" [expanded]="true">
                      <mat-expansion-panel-header>
                          <mat-panel-title style="color: #00909E;">Tabla de reconteos</mat-panel-title>
                      </mat-expansion-panel-header>

                      <div class="col-md-12">
                        <div class="table-responsive table-full-width">
                            <div class="pagination-controls-container">
                                <label for="itemsPerPage" style="margin-left: 1%; font-weight: bold;">Mostrar: </label>
                                <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="actualizarPaginacion()">
                                    <option [value]="5">5</option>
                                    <option [value]="10">10</option>
                                    <option [value]="50">50</option>
                                    <option [value]="100">100</option>
                                </select>
                                <label style="font-weight: bold;">Items por página </label>
                               <!-- <input type="text" class="custom-input" [(ngModel)]="searchQuery" placeholder="Buscar por Item" (input)="filterItems()">-->
                            </div>
                            <br>
                            <div style="overflow-x: auto; width:100%;">
                              <table class="table table-hover table-striped">
                                  <thead>
                                      <tr>
                                        <th>Item</th>
                                          <th>Saldo Stock</th>
                                          <th>Conteo</th>
                                          <th>Diferencia</th>
                                          <th *ngIf="cantidadActual > 1">Reconteo 1</th>
                                          <th *ngIf="cantidadActual > 1">Diferencia 1</th>
                                          <th *ngIf="cantidadActual > 2">Reconteo 2</th>
                                          <th *ngIf="cantidadActual > 2">Diferencia 2</th>
                                          <th *ngIf="cantidadActual > 3">Reconteo 3</th>
                                          <th *ngIf="cantidadActual > 3">Diferencia 3</th>
                                          <th *ngIf="cantidadActual > 4">Reconteo 4</th>
                                          <th *ngIf="cantidadActual > 4">Diferencia 4</th>
                                          <th *ngIf="cantidadActual > 5">Reconteo 5</th>
                                          <th *ngIf="cantidadActual > 5">Diferencia 5</th>
                                          <th *ngIf="cantidadActual > 6">Reconteo 6</th>
                                          <th *ngIf="cantidadActual > 6">Diferencia 6</th>
                                         
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let row of listaRegistros | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                                          
                                          <td>{{ row.Item }}</td>
                                          <td>{{ row.SaldoStock }}</td>
                                          <td>{{ row.Conteo }}</td>
                                          <td>{{ row.Diferencia }}</td>
                                       
                                          <td *ngIf="cantidadActual > 1">{{ row.Reconteo01 }}</td>
                                          <td *ngIf="cantidadActual > 1">{{ row.Diferencia01 }}</td>
                                          <td *ngIf="cantidadActual > 2">{{ row.Reconteo02 }}</td>
                                          <td *ngIf="cantidadActual > 2">{{ row.Diferencia02 }}</td>
                                          <td *ngIf="cantidadActual > 3">{{ row.Reconteo03 }}</td>
                                          <td *ngIf="cantidadActual > 3">{{ row.Diferencia03 }}</td>
                                          <td *ngIf="cantidadActual > 4">{{ row.Reconteo04 }}</td>
                                          <td *ngIf="cantidadActual > 4">{{ row.Diferencia04 }}</td>
                                          <td *ngIf="cantidadActual > 5">{{ row.Reconteo05 }}</td>
                                          <td *ngIf="cantidadActual > 5">{{ row.Diferencia05 }}</td>
                                          <td *ngIf="cantidadActual > 6">{{ row.Reconteo06 }}</td>
                                          <td *ngIf="cantidadActual > 6">{{ row.Diferencia06 }}</td>
                                      </tr>
                                  </tbody>
                              </table>
                            </div>
                            <br>
                            <div class="pagination-container">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                            
                            <button
                            mat-raised-button
                            color="primary"
                            style="background-color: #00909E;"
                            (click)="exportToExcel()"
                            matRipple>
                            <mat-icon>download</mat-icon> Exportar a Excel
                          </button>                       
                        </div>
                    </div>
                  </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        
          <!-- Mensaje de no hay reconteo -->
          <div *ngIf="cantidadReconteo === 0 && !isLoading" class="card-reconteo mat-elevation-z8 animate-fadeIn">
          <h2 class="highlight-text">No hay reconteo disponible</h2>
          </div>
        
          <br>
        
          <div *ngIf="showMostrarTarjetas"   class="boton-extra-container">
            <button class="boton-extra" (click)="volverAtras()">
              Volver
            </button>
          
            <button *ngIf="cantidadReconteo === 0 && !isLoading" class="boton-extra" (click)="formateaReconteo()">
              <i class="fas fa-list-ol"></i> Ir a Reconteo {{nuevaCantidad}}
            </button>
          </div>
          
          <div class="alert-container">
            <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
                {{ mensaje }}
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
                {{ mensaje }}
            </div>
          </div>
      
        </div>
      </div>
  </div>
</div>
  