<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div *ngIf="cantidadReconteo > 0" class="card-header">
                    <div class="col-md-3 reconteo-box">
                        <span class="cantidad">{{ cantidadReconteo }}</span>
                        <p class="message">Ítems de {{tipoItem}} encontrados para recontar</p>
                     
                            <!-- Reemplazamos el botón por el texto "Exportar Data" -->
                            <span class="export-text" (click)="exportToExcel()">
                                Exportar Data
                            </span>
                       
                    </div>
                </div>
                <div *ngIf="isLoading" id="loader" class="overlay" style="margin-top: 20%;">
                    <img src="../../../assets/img/loader-preview.svg" alt="loading" />
                </div>
                <div *ngIf="showMostrarBody" class="card-body">
                    <div *ngIf="cantidadReconteo > 0; else noReconteos">
                        <!-- Ingresar cantidad de operarios -->
                        <div class="col-md-3 input-container">
                            <label for="personasReconteo" style="font-size:100%;">Cantidad de operarios:</label>
                            <input type="number" id="personasReconteo" class="input-field"
                                [(ngModel)]="cantidadPersonas" name="cantidadPersonas"
                                min="1" max="100" required
                                (change)="actualizarOperarios()">
                        </div>

                        <!-- Mostrar campos dinámicos para ingresar los nombres de los operarios -->
                        <div *ngFor="let operario of operarios; let i = index" class="col-md-3 nombre-editable">
                            <label style="font-size: 90%;">Operario {{ i + 1 }}:</label>
                            <select [(ngModel)]="operarios[i].nombre" class="form-control" name="operario{{i}}">
                              <option value="" disabled selected>Seleccionar operario</option>
                              <option *ngFor="let persona of operariosAsignados" [value]="persona.nombre">
                                {{ persona.nombre }}
                              </option>
                            </select>
                          </div>
                        
                     
                    </div>
                    <ng-template #noReconteos>
                        <div class="no-reconteo">
                            <p>No hay ítems pendientes de reconteo</p>
                        </div>
                    </ng-template>

                    <!-- Lista de operarios ingresados -->
                    <div *ngIf="operarios.length > 0">
                        <div class="col-md-12 nombre-container">
                            <div class="nombre-card">
                                <p><strong>Operarios Asignados:</strong></p>
                                <div class="nombres-grid">
                                    <div *ngFor="let operario of operarios; let i = index">
                                        <p>{{ i + 1 }} - {{ operario.nombre }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="add-button"
                            (click)="agregarNombre()" [disabled]="operarios.length == 0">
                        Agregar</button>
                    </div>
                    <br>
                    <br>
                    

                </div>
                <div class="alert-container">
                    <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
                        {{ mensaje }}
                    </div>
                    <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
                        {{ mensaje }}
                    </div>
                </div>
            </div>
         
        </div>
    </div>
</div>
