<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Asignación de Reconteos</h4>
                    </div>
                    <div class="content">
                        <form (ngSubmit)="asignar()" #form="ngForm">
                            <div class="row">
                                <div class="form-group col-md-1">
                                    <label for="periodo" style="font-weight: bold;">Periodo</label>
                                </div>
                                <div class="form-group col-md-2" style="margin-left: 1%;">
                                    <label for="mes" style="font-weight: bold;">Mes</label>
                                </div>
                                <div class="form-group col-md-2" style="margin-left: 1%;">
                                    <label for="tipoItem" style="font-weight: bold;">Tipo Item</label>
                                </div>
                                <div class="form-group col-md-2" style="margin-left: 1%;">
                                    <label for="local" style="font-weight: bold;">Local</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-1">
                                    <p class="custom-text">{{ selectedPeriodo }}</p>
                                </div>
                                <div class="form-group col-md-2">
                                    <select class="form-control custom-select" id="mes" [(ngModel)]="selectedMes" name="mes" required (change)="onChange()"
                                        [title]="selectedMes ? getMesTooltip(selectedMes) : 'Selecciona un mes'">
                                        <option *ngFor="let mes of meses" [value]="mes.codigo">
                                            {{ mes.nombre }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <select class="form-control custom-select" id="tipoItem" [(ngModel)]="selectedTipoItem" name="tipoItem" required (change)="onChange()">
                                        <option *ngFor="let tipo of tiposItems" [value]="tipo">
                                            {{ tipo }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <select class="form-control custom-select" id="local" [(ngModel)]="selectedLocal" name="local" required (change)="onChange()"
                                        [title]="selectedLocal ? getLocalTooltip(selectedLocal) : 'Selecciona un local'">
                                        <option *ngFor="let local of locales" [value]="local.codigo">
                                            {{ local.descripcion }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <button type="submit" class="btn btn-primary btn-sm custom-btn-buscar" [disabled]="asignacionForm.invalid">
                                        Buscar&nbsp;&nbsp; <i class="fas fa-search ml-2"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
