<div class="modal-backdrop" (click)="cerrar()"></div>

<div class="modal-container mat-elevation-z8">
  <header class="modal-header">
    <h3>Editar Repuestos</h3>
  </header>
  <nav class="tabs">
    <button
      [class.active]="tabSeleccionada === 'agregar'"
      (click)="tabSeleccionada = 'agregar'">
      <span class="material-icons">info</span> Agreger Item
    </button>

    <button
      [class.active]="tabSeleccionada === 'detalle'"
      (click)="tabSeleccionada = 'detalle'">
      <span class="material-icons">inventory_2</span> Consulta Pedidos
    </button>


  </nav>
  <section class="modal-body">
    <div *ngIf="tabSeleccionada === 'agregar'" class="tab-content">
      <form [formGroup]="formularioRepuestos">
        <div formArrayName="repuestos">
          <div *ngFor="let repuesto of repuestos.controls; let i = index" [formGroupName]="i" class="fila-repuesto">
            <div class="campos-repuesto">
              <mat-form-field appearance="fill">
                <mat-label>Código *</mat-label>
                <input
                  matInput
                  formControlName="codigo"
                  [matAutocomplete]="auto"
                  (input)="buscarRepuestos($event.target.value, i)"
                />
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="seleccionarModelo(i, $event.option.value)">
                  <mat-option *ngFor="let item of modelosFiltrados[i]" [value]="item.ItemCode">
                    {{ item.ItemCode }} - {{ item.ItemName }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              

              <mat-form-field appearance="fill">
                <mat-label>Descripción *</mat-label>
                <input matInput formControlName="descripcion" />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Cantidad *</mat-label>
                <input matInput type="number" formControlName="cantidad" />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Precio *</mat-label>
                <input matInput type="number" formControlName="precio" />
              </mat-form-field>

              <button mat-icon-button color="warn" (click)="eliminarRepuesto(i)" matTooltip="Eliminar">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <mat-divider></mat-divider>
          </div>
        </div>

        <button mat-stroked-button color="primary" type="button" (click)="agregarRepuesto()" class="boton-agregar">
          <mat-icon>add</mat-icon> Agregar otro repuesto
        </button>
      </form>
    
      <div *ngIf="isLoading" id="loader">
          <img src="../../assets/img/loader-preview.svg" alt="loading" />
      </div>

      <div class="botones-acciones">
        <button mat-button (click)="cerrar()">Cancelar</button>
        <button
          mat-flat-button
          [disabled]="formularioRepuestos.invalid"
          [ngClass]="{ 'boton-guardar-habilitado': formularioRepuestos.valid, 'boton-guardar-deshabilitado': formularioRepuestos.invalid }"
          (click)="guardar()"
        >
          Guardar
        </button>
      </div>
    </div>
   <div *ngIf="tabSeleccionada === 'detalle'" class="tab-content">
      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Precio</th>
             <th>Acción</th>
           
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let repuesto of detallePedidoList"
              [ngClass]="{'cerrado': repuesto.LineStatus === 'bost_Close'}">
            <td>{{ repuesto.ItemCode }}</td>
            <td>{{ repuesto.ItemDescription }}</td>
            <td>{{ repuesto.Quantity }}</td>
            <td>{{ repuesto.Price }}</td>
            <td>
              <button mat-icon-button color="warn" 
                (click)="eliminarDetalle(repuesto)" 
                matTooltip="Eliminar"
                [disabled]="repuesto.LineStatus === 'bost_Close'">
                <mat-icon>delete</mat-icon>
            </button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </section>
</div>
