.modal-backdrop {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1050;
}

.modal-container {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 950px;
  max-height: 85vh;
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  overflow-y: auto;
  box-shadow: 0 15px 40px rgba(0, 134, 134, 0.3);
  z-index: 1100;
  animation: slideDownFadeIn 0.4s ease forwards;
  font-family: 'Segoe UI', sans-serif;
}

.modal-header {
  margin-bottom: 1.5rem;

  h3 {
    font-size: 2.4rem;
    font-weight: 500;
    color: #008686;
    margin: 0;
  }
}

.modal-body {
  .fila-repuesto {
    margin-bottom: 1rem;
  }

  .campos-repuesto {
    display: grid;
    grid-template-columns: 29fr 18fr 14fr auto 29fr;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
  }

   button[mat-icon-button] {
    justify-self: center; // centra horizontalmente en su celda
    align-self: center;   // centra verticalmente
  }

  mat-form-field {
    width: 100%;
  }

  .boton-agregar {
    margin-top: 2rem;
    border-color: #008686;
    color: #008686;
    font-weight: 500;
  }

  .botones-acciones {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;

    button {
      font-size: 1.4rem;
      padding: 0.6rem 1.5rem;
    }
    
  }
}

.boton-guardar-custom {
  background-color: #008686 !important;
  color: white !important;
  font-weight: 500;
}

.boton-guardar-habilitado {
  background-color: #008686 !important;
  color: white !important;
}

.boton-guardar-deshabilitado {
  background-color: rgba(0, 134, 134, 0.4) !important; // tono apagado
  color: white !important;
  cursor: not-allowed;
}


input[formcontrolname="codigo"] {
  text-transform: uppercase;
}
@keyframes slideDownFadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}


.tabs {
  display: flex;
  border-bottom: 2px solid #008686;
  margin-bottom: 1rem;

  button {
    background: none;
    border: none;
    padding: 0.5rem 1.2rem;
    font-weight: 600;
    font-size: 100%;
    color: #555;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;

    &.active {
      color: #008686;
      border-bottom-color: #008686;
      font-weight: 500;
    }

    .material-icons {
      font-size: 20px;
      vertical-align: middle;
    }

    &:hover:not(.active) {
      color: #005e66;
    }
  }
}

  table {
      width: 100%;
      border-collapse: collapse;
      font-size: 1.5rem;

      thead {
        background-color: #008686;
        color: white;
      }

      th, td {
        text-align: left;
        padding: 0.5rem 0.8rem;
        border-bottom: 1px solid #ddd;
        white-space: nowrap;
        font-weight: 400;
      }

      tbody tr:hover {
        background-color: #b0d9db;
      }
    }



    .alert-success {
    background-color: rgba(0, 144, 158, 0.8);
    font-size : 150%;
    text-align: center; /* Centrar el texto */
    padding: 10px; /* Espaciado interno */
  }

  .alert-danger{
    background-color: rgba(235, 35, 35, 0.8);
    font-size : 150%;
    text-align: center; /* Centrar el texto */
    padding: 10px; /* Espaciado interno */
  }


    .adjuntos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    .adjunto-item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        font-weight: 700;
        color:#008686;
      }

      input[type="file"] {
        background: #f9f9f9;
        border: none;
        padding: 6px;
        font-size: 14px;
        border-radius: 4px;
      }

      .file-preview {
        margin-top: 0.5rem;
        img {
          max-width: 10%;
          border-radius: 8px;
          box-shadow: 0 2px 6px rgba(0, 134, 134, 0.25);
        }
        span {
          background: #eef6f6;
          padding: 6px 10px;
          border-radius: 6px;
          display: inline-block;
        }
      }
    }
  }


  

