<h2 mat-dialog-title class="dialog-title">Confirmación</h2>

<mat-dialog-content class="dialog-content">
  <form [formGroup]="inventarioForm" (ngSubmit)="onConfirm()">
    <div *ngIf="!isLoading" class="mensaje-container">
      <p class="mensaje-principal">
        {{data.mensaje}} para el periodo <span class="mensaje-destacado">{{data.mes}} {{data.periodo}}</span>
      </p>
    </div>
    
    <div *ngIf="!isLoading" class="subtitulo-container">
      <p class="subtitulo-class">¿Desea Iniciar el inventario?</p>
    </div>

    <div *ngIf="isLoading" class="dialog-content loader-container">
      <div class="loader-content">
        <h3 class="dialog-title">Cargando saldos...</h3>
        <img src="../../../assets/img/loader-preview.svg" alt="loading" class="loader-image" />
        <p class="mensaje-principal">Estamos preparando la información del inventario.</p>
        <p class="mensaje-destacado">Por favor, espera un momento.</p>
      </div>
    </div>
  
    <div *ngIf="!isLoading" class="leyenda-container">
      <p class="leyenda-class">
        Al iniciar el inventario, se actualizarán los saldos de las opciones escogidas.
      </p>
    </div>

     <!-- Sección para los checkboxes de categorías -->
    <div *ngIf="!isLoading"  class="checkbox-container">
      <p class="checkbox-title">Seleccione categorías:</p>
      <div class="checkbox-list">
        <div *ngFor="let categoria of categorias" class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="{{ categoria }}"
            [attr.data-nombre]="categoria"
            (change)="onCheckboxChange($event, categoria)"
          />
          <label class="form-check-label" for="{{ categoria }}">
            {{ categoria }}
          </label>
        </div>
      </div>
    </div>

    <br>
    
    

     <!-- Contenedor de Combobox con mejor diseño -->
    <div *ngIf="!isLoading" class="combobox-container">
      <mat-form-field appearance="outline" class="combobox">
        <mat-label>Seleccionar Local</mat-label>
        <mat-select formControlName="selectedLocal" (selectionChange)="onLocalChange($event)"  [disabled]="desactivarComboBoxLocal">
          <mat-option *ngFor="let local of grupoList" [value]="local">
            {{ local.NumeroLocal }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="combobox" style="width: 22em;">
        <mat-label>Seleccionar Grupo Bodega</mat-label>
        <mat-select formControlName="selectedGrupoBodega"  [disabled]="true">
          <mat-option *ngFor="let local of grupoList" [value]="local.NombreGrupoBodega">
          {{ local.NombreGrupoBodega }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="inventarioIniciado" class="alert alert-warning">
      El inventario ya fue iniciado para este periodo, mes, local y grupo.
    </div>

    <mat-dialog-actions *ngIf="!isLoading" class="dialog-actions">
      <button
        mat-button
        class="cancelar-boton"
        [mat-dialog-close]="{ action: 'cerrar' }"
        [disabled]="desactivarBotonCerrar">
        Cerrar
      </button>
      <button 
        mat-button 
        type="submit"
        class="confirmar-boton" 
        [ngClass]="{'boton-desactivado': desactivarBotonInicio}"  
        [disabled]="desactivarBotonInicio">
        Iniciar Inventario
      </button>
    </mat-dialog-actions>

  </form>
</mat-dialog-content>



