.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

.dialog-title {
  font-size: 22px;
  font-weight: bold;
  color: #FF4A55;
}

.mensaje-principal {
  font-size: 18px;
  color: #444;
  font-weight: 500;
}

.mensaje-destacado {
  font-weight: bold;
  color: #00909E;
}

.subtitulo-class, .leyenda-class {
  font-size: 16px;
  color: #666;
}

.checkbox-title{
  font-weight: bold;
  color: #00909E;
  font-size: 18px; /* Puedes ajustar este tamaño */
}

.form-group {
  margin-top: 15px;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.cancelar-boton {
  font-weight: bold;
  color: #666;
}

.confirmar-boton {
  color: #00909E;
  font-weight: bold;
  font-size: 16px;
}

.boton-desactivado {
  color: gray !important;
  opacity: 0.6;
}

.combobox-pequeno {
  width: 100px; /* Ajusta el tamaño según lo que necesites */
  font-size: 12px;
  padding: 5px;
}

.combobox-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

label {
 margin-left: 1%;
}


.loader-container {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 30px;
  border-radius: 10px;
  width: fit-content;
  margin: 30px auto;
  animation: fadeIn 0.5s ease-in-out;

  .loader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.loader-image {
  width: 60px;
  height: 60px;
  margin-bottom: 1rem;
  animation: spin 1.5s linear infinite;
}

.loader-text {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  text-align: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

