

/* Estilo del encabezado */
.title {
  color: #00909E;
  font-weight: 400;
}

.custom-btn {
  background-color: #00909E;
  border: none;
  border-radius: 30px;
  padding: 10px;
  margin-left: 10%;
  margin-top: -3%;
  width: auto !important; /* Ajustar el ancho del botón según el contenido */
}

.custom-btn:hover {
  background-color: #006f7b; /* Un tono más oscuro de #00909E */
}

.btn-primary {
  color: #fff;
}

/* Estilos de los select y input */
.custom-select {
  border: 1px solid #00909E;
 // border-radius: 30px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  background-color: #ffffff;
  font-size: 1.5rem;
  color: #00909E;
  width: 100%; /* Hacemos que los select ocupen todo el ancho */
  margin-top: -7%;
 
}

.custom-select:focus {
  border-color: #006f7b;
  box-shadow: 0 0 5px rgba(0, 111, 123, 0.5);
  outline: none;
}

.custom-select option {
  background-color: #ffffff;
  color: #00909E;
  padding: 10px;
  border-radius: none;
  transition: background-color 0.3s ease;
}

.custom-select option:hover {
  background-color: #b0d9db;
}


.custom-text {
  color: #00909E;
  font-weight: 400;
}

/* Eliminar el espacio entre las filas */
.row {
  margin-bottom: 0; /* Eliminar el espacio entre las filas */
}

/* Reducir la separación entre los grupos de formulario */
.form-group {
  margin-bottom: 0; /* Ajusta este valor para el espacio entre los campos */
}

.custom-btn i {
  margin-right: 5px; /* Espacio entre el icono y el texto */
  font-size: 18px; /* Ajustar tamaño del icono */
}

.table {
  /* Ajustar el tamaño de la tabla según el contenido */
  margin: 0 auto; /* Centrar la tabla */
  table-layout: auto; /* Distribuir las columnas según el contenido */
  border-collapse: collapse; /* Eliminar espacios entre las celdas */

  width:auto; /* Ajustar el tamaño de la tabla según el contenido */
  margin: 0 0 0 1em; /* Centrar la tabla */
  table-layout: auto; /* Distribuir las columnas según el contenido */
  border-collapse:  collapse; /* Eliminar espacios entre las celdas */;
}


  /* Estilo del encabezado */
  .table thead th {
    background-color: #00909E; /* Fondo de color de la empresa */
    color: white; /* Texto en blanco para contraste */
    text-align: start; /* Alineación centrada del texto */
    padding: 8px; /* Espaciado interno */
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
  }


   /* Estilo de las filas de la tabla */
   .table tbody tr {
    transition: background-color 0.3s; /* Efecto de transición para el fondo */
  }

   /* Hover sobre las filas */
   .table tbody tr:hover {
    background-color: #b0d9db; /* Color más claro al pasar el cursor por encima */
  }


   /* Estilo de las celdas */
   .table tbody td {
    
    color: #00909E; /* Texto de color de la empresa */
    text-align: start; /* Alineación centrada del texto */
    padding: 8px; /* Espaciado interno */
    text-overflow: ellipsis; /* Agregar puntos suspensivos si el contenido es demasiado largo */
    
  }

    /* Limitar el ancho de las columnas */
    .table tbody td {
      
      max-width: auto; /* Limitar el ancho de las columnas */
      overflow: hidden; /* Ocultar el contenido que desborde */
      text-overflow: ellipsis; /* Agregar puntos suspensivos si el contenido es demasiado largo */
    }  

    .pagination-controls-container {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
    }
    
    .pagination-container {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
    
    .ngx-pagination {
      display: flex;
      list-style: none;
    }
    
    .ngx-pagination li {
      margin: 0 5px;
    }
    
    .ngx-pagination a {
      text-decoration: none;
      padding: 5px 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      color: #008686;
    }
    
    .ngx-pagination .current {
      background-color: #008686;
      color: white;
    }
    

    .grafico-container {
      display: flex;
      justify-content: space-between; /* Esto separa los gráficos */
      gap: 20px; /* Opcional: agrega un espacio entre los gráficos */
  }
  
  .grafico {
      width: 32%; /* El 100% dividido entre 3 gráficos para darles el mismo tamaño */
      height: 300px; /* Establece la altura común para todos */
  }
  

  .text-danger {
    color: #dc3545;
    font-weight: bold;
  }

  .alert-success {
    background-color: rgba(0, 144, 158, 0.8);
  }

  .alert-danger{
    background-color: rgba(235, 35, 35, 0.8);
  }

  .botones-container {
    display: flex;
    justify-content: flex-start; /* Alinear los botones al inicio */
    margin-left: 1em; /* Alinea con la tabla */
    margin-top: 1em; /* Espacio superior */
    gap: 10px; /* Espacio entre botones */
  }
  

  .overlay {
    position: fixed; /* Fija la capa en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que esté sobre todo el contenido */
  }
  
  /* Evita que el usuario interactúe con la página */
  body.loading {
    overflow: hidden;
  }
  