<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Avance de Inventario</h4>
                    </div>
                    <div class="content">
                        <form (ngSubmit)="onSubmit()" #form="ngForm">
                            
                            <div class="row">
                                <div class="form-group col-md-1">
                                    <label for="periodo" style="font-weight: bold;">Periodo</label>
                                </div>
                                <div class="form-group col-md-2" style="margin-left: 1%;">
                                    <label for="mes" style="font-weight: bold;">Mes</label>
                                </div>
                                <div class="form-group col-md-2" style="margin-left: 1%;">
                                    <label for="mes" style="font-weight: bold;">Tipo Item</label>
                                </div>
                                <div class="form-group col-md-2" style="margin-left: 1%;">
                                    <label for="mes" style="font-weight: bold;">Local</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-1">
                                    <p class="custom-text">{{ selectedPeriodo }}</p>
                                </div>
                                <div class="form-group col-md-2">
                                    <select class="form-control custom-select" id="mes" [(ngModel)]="selectedMes" name="mes" required (change)="onChange()"
                                    [title]="selectedMes ? getMesTooltip(selectedMes) : 'Selecciona un mes'">
                                    <option *ngFor="let mes of meses" [value]="mes.codigo">
                                        {{ mes.nombre }}
                                    </option>
                                </select>
                                </div>
                                
                                <div class="form-group col-md-2">
                                    <select class="form-control custom-select" id="tipoItem" [(ngModel)]="selectedTipoItem" name="tipoItem" required (change)="onChange()"
                                        [title]="selectedTipoItem ? getTipoItemTooltip(selectedTipoItem) : 'Selecciona un tipo de ítem'">
                                        <option *ngFor="let tipo of tiposItems" [value]="tipo.descripcion">
                                            {{ tipo.descripcion }}
                                        </option>
                                    </select>
                                </div>
                                
                             
                                <div class="form-group col-md-2">
                                    <select class="form-control custom-select" id="local" [(ngModel)]="selectedLocal" name="local" required (change)="onChange()"
                                    [title]="selectedLocal ? getLocalTooltip(selectedLocal) : 'Selecciona un local'">
                                        <option *ngFor="let local of locales" [value]="local.codigo">
                                            {{ local.descripcion }}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group col-md-5">
                                    <button type="submit" class="btn btn-primary btn-sm custom-btn"  [disabled]="!formValido()">
                                        Buscar&nbsp;&nbsp; <i class="fas fa-search ml-2"></i>
                                    </button>
                                </div>
                            </div>
                            <br>
                            <div *ngIf="showTable" class="row">
                                <!-- Columna de la tabla de áreas -->
                                <div class="col-md-12">
                                    <div class="table-responsive table-full-width">
                                      <div class="pagination-controls-container">
                                        <label for="itemsPerPage" style="margin-left: 1%; font-weight: bold;">Mostrar: </label>
                                          <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="actualizarPaginacion()">
                                              <option [value]="10">10</option>
                                              <option [value]="50">50</option>
                                              <option [value]="100">100</option>
                                          </select>
                                        <label style="font-weight: bold;">Items por pagina: </label>
                                      </div>
                                  
                                      <br>
                                      <div style="overflow-x: auto; width: 90%;">
                                        <table class="table table-hover table-striped">
                                          <thead>
                                            <tr>
                                              <th>Empresa</th>
                                              <th>Año</th>
                                              <th>Mes</th>
                                              <th>Local</th>
                                              <th>Nombre Local</th>
                                              <th>Nombre Bodega</th>
                                              <th>Key Item</th>
                                              <th>Tipo Item</th>
                                              <th>Item</th>
                                              <th>Descripcion</th>
                                              <th>Obsoleto</th>
                                              <th>Vigencia</th>
                                              <th>Tipo Producto</th>
                                              <th>Categoria</th>
                                              <th>Saldo Stock</th>
                                              <th>Conteo</th>
                                              <th>Diferencia</th>
                                              <th>Reconteo 01</th>
                                              <th>Diferencia 01</th>
                                              <th>Reconteo 02</th>
                                              <th>Diferencia 02</th>
                                              <th>Reconteo 03</th>
                                              <th>Diferencia 03</th>
                                              <th>Reconteo 04</th>
                                              <th>Diferencia 04</th>
                                              <th>Reconteo 05</th>
                                              <th>Diferencia 05</th>
                                              <th>Reconteo 06</th>
                                              <th>Diferencia 06</th>
                                              <th>Costo</th>
                                              <th>Costo Total</th>
                                              <th>Precio</th>
                                              <th>Estado</th>
                                              <th>Observacion</th>
                                              <th>Ubicacion</th>
                                              <th>Fecha Creacion</th>
                                              <th>Estado Proceso</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr *ngFor="let row of inventarioData | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                                              <td>{{ row.Empresa }}</td>
                                              <td>{{ row.Ano }}</td>
                                              <td>{{ row.Mes }}</td>
                                              <td>{{ row.local }}</td>
                                              <td>{{ row.NombreLocal }}</td>
                                              <td>{{ row.NombreBodega }}</td>
                                              <td>{{ row.KeyItem }}</td>
                                              <td>{{ row.TipoItem }}</td>
                                              <td>{{ row.Item }}</td>
                                              <td>{{ row.Descripcion }}</td>
                                              <td>{{ row.Obsoleto }}</td>
                                              <td>{{ row.Vigencia }}</td>
                                              <td>{{ row.TipoProducto }}</td>
                                              <td>{{ row.Categoria }}</td>
                                              <td>{{ row.SaldoStock }}</td>
                                              <td>{{ row.Conteo }}</td>
                                              <td>{{ row.Diferencia }}</td>
                                              <td>{{ row.Reconteo01 }}</td>
                                              <td>{{ row.Diferencia01 }}</td>
                                              <td>{{ row.Reconteo02 }}</td>
                                              <td>{{ row.Diferencia02 }}</td>
                                              <td>{{ row.Reconteo03 }}</td>
                                              <td>{{ row.Diferencia03 }}</td>
                                              <td>{{ row.Reconteo04 }}</td>
                                              <td>{{ row.Diferencia04 }}</td>
                                              <td>{{ row.Reconteo05 }}</td>
                                              <td>{{ row.Diferencia05 }}</td>
                                              <td>{{ row.Reconteo06 }}</td>
                                              <td>{{ row.Diferencia06 }}</td>
                                              <td>{{ row.Costo }}</td>
                                              <td>{{ row.CostoTotal }}</td>
                                              <td>{{ row.Precio }}</td>
                                              <td>{{ row.Estado }}</td>
                                              <td>{{ row.Observacion }}</td>
                                              <td>{{ row.Ubicacion }}</td>
                                              <td>{{ row.FechaCreacion }}</td>
                                              <td>{{ row.EstadoProceso }}</td>
                                              </tr>
                                          </tbody>
                                        </table>
                                      
                                      </div>
                                      
                                      <div class="pagination-container">
                                          <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                      </div>
                                      <div>
                                        <app-grafico-torta [saldoTotal]="saldoTotal" [conteoTotal]="conteoTotal"></app-grafico-torta>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div *ngIf="mensaje" class="alert alert-warning">
                                {{ mensaje }}
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <div *ngIf="isLoading" id="loader">
                                <img src="../../../assets/img/loader-preview.svg" alt="loading" />
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
