<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12">

        <!-- Resumen de Garantías -->
        <div class="card-garantias mat-elevation-z8 animate-fadeIn">
          <h2 class="highlight-text">
            Tienes <span class="cantidad">{{ garantiaData.length }}</span> garantías pendientes
            <!-- <span *ngIf="garantiaPendiente > 0" class="estado pendiente">Pendientes: {{ garantiaPendiente }}</span> - 
            <span class="estado aprobado">Aprobadas: {{ garantiaAprobada }}</span> -
            <span class="estado rechazado">Rechazadas: {{ garantiaRechazada }}</span> -->
          </h2>
          <div class="filtro-estado mb-3">
            <mat-form-field appearance="outline" class="filtro-combo">
              <mat-label>Filtrar por estado</mat-label>
              <mat-select [(value)]="estadoSeleccionado" (selectionChange)="filtrarGarantias()"  [disabled]="bloquearCombo">
             
                <mat-option value="pendientes">Pendientes</mat-option>
                <mat-option value="aprobadas">Aprobadas</mat-option>
                <mat-option value="rechazado">Rechazadas</mat-option>
                <mat-option value="ingresada">Ingresadas</mat-option>
               
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="isLoading" id="loader" class="overlay" style="margin-top: 10em;">
          <img src="../../../assets/img/loader-preview.svg" alt="loading" />
        </div>
        <div *ngIf="!isLoading && garantiaData.length > 0" class="card-garantias-tabla mat-elevation-z8 animate-fadeIn">
          <div *ngIf="!showIntranet" class="table-container mat-elevation-z4 animate-slideIn">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Llamada Servicio</th>
                  <th>DocEntry Asociada</th>
                  <th>Oferta Venta Asociada</th>
                  <th>Orden Telecontrol</th>
                  <th>Nombre Serv. Autorizado</th>
                  <th>Tipo Documento</th>
                  <th>Estado</th>
                  <th *ngIf="mostrarAcciones">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let garantia of garantiaData">
                  <td (click)="abrirDetalleGarantia(garantia)" class="clickable-cell">
                    {{ garantia.servicioLlamada }}
                  </td>
                  <td (click)="abrirDetalleGarantia(garantia)" class="clickable-cell">
                    {{ garantia.DocNumAsociado }}
                  </td>
                  <td (click)="abrirDetalleGarantia(garantia)" class="clickable-cell">
                    {{ garantia.DocNumAsociado }}
                  </td>
                  <td (click)="abrirDetalleGarantia(garantia)" class="clickable-cell">
                    {{ garantia.OS_ID }}
                  </td>
                  <td>{{ garantia.NombreServicioAut }}</td>
                  <td>{{ garantia.TipoDocumento }}</td>
                  <td>
                    <span [ngClass]="{
                      'pendiente': garantia.EstadoSAP === 'EnProcesoAprobacion',
                      'aprobado': garantia.EstadoSAP === 'Aprobado',
                      'rechazado': garantia.EstadoSAP === 'RECHAZADO'
                    }">
                      {{ garantia.EstadoSAP === 'EnProcesoAprobacion' ? 'Pendiente Aprobación' : garantia.EstadoSAP }}
                    </span>
                  </td>
                  <td>
                    <button  *ngIf="garantia.TipoDocumento === 'PRESUPUESTO'"
                      mat-icon-button
                      class= "icono-editar"
                      (click)="abrirModalAgregarRepuestoOT(garantia)"
                      matTooltip="Editar OT">
                      <mat-icon>edit</mat-icon>
                    </button>
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="showIntranet" class="table-container mat-elevation-z4 animate-slideIn">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Folio</th>
                  <th>Pedido</th>
                  <th>Nombre Cliente</th>
                  <th>Descripción Item</th>
                  <th>Item Modelo</th>
                  <th>N° Serie</th>
                  <th>Tipo Documento</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let garantia of garantiaData">
                  <!--<td (click)="abrirDetalleGarantia(garantia)" class="clickable-cell"> -->
                  <td>
                    {{ garantia.Folio }}
                  </td>
                  <td >
                    {{ garantia.Id_Pedido }}
                  </td>
                  <td >
                    {{ garantia.NombreConsumidor }}
                  </td>
                   <td >
                    {{ garantia.DescripcionHerramienta }}
                  </td>
                  <td >
                    {{ garantia.Referencia }}
                  </td>
                  <td>
                    {{ garantia.Serie }}
                  </td>
                  <td>
                    {{garantia.TipoDocumento}}
                  </td>
                  <td>
                    <button
                      mat-icon-button
                      class="boton-agregar"
                      (click)="abrirModalAgregarRepuesto(garantia)"
                      matTooltip="Agregar Repuesto">
                      <mat-icon>add_circle</mat-icon>
                    </button>

                    <button *ngIf="garantia.Id_Pedido != null"
                      mat-icon-button
                      class="boton-enviar-sap"
                      (click)="enviarASAP(garantia)"
                      matTooltip="Enviar a SAP">
                      <mat-icon class="icono-azul">cloud_upload</mat-icon>
                    </button>
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="!isLoading && garantiaData.length === 0" class="card-garantias mat-elevation-z8 animate-fadeIn">
          <h2 class="highlight-text">No hay garantías registradas</h2>
        </div>
       
        <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
              {{ mensaje }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
              {{ mensaje }}
        </div>
      
      </div>
    </div>
  </div>
</div>

