<div  *ngIf="!isLoading" class="card-garantias">
  <form (ngSubmit)="onSubmit()" [formGroup]="garantiaForm">
        
    <div class="row">
      <h3 class="seccion-titulo">Detalle del ingreso</h3>
      <div class="col-md-6">
        <div *ngIf="userRole === 'STM'" class="row mb-2">
          <label class="col-sm-5 text-verde-makita" for="tipoDoc">Tipo documento :</label>
          <div class="col-sm-7">
            <select id="tipoDoc" formControlName="TipoDocumento">
              <option value="" disabled>Selecciona tipo</option>
              <option *ngFor="let tipo of tiposDocumento" [value]="tipo">{{ tipo }}</option>
            </select>
          </div>
        </div>
        <div *ngIf="userRole === 'ST'" class="row mb-2">
          <label class="col-sm-5 text-verde-makita" for="tipoDocST">Tipo documento :</label>
          <div class="col-sm-7">
            <select id="tipoDocST" formControlName="TipoDocumentoST">
              <option value="" disabled>Selecciona tipo</option>
              <option *ngFor="let tipo of tiposDocumentosST" [value]="tipo">{{ tipo }}</option>
            </select>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-5 text-verde-makita" for="rutServ">Rut STA :</label>
          <div class="col-sm-7">
            
            <input
              type="text"
              id="rutServ"
              formControlName="RutServicioTecnico"
              (input)="buscarClientes()"
              (blur)="ocultarListaConDelay()"
              style="width: 100%;" />
            
              <!-- Lista de sugerencias -->
            <ul
              class="sugerencias"
              *ngIf="clientesFiltrados.length > 0 && mostrarSugerenciasClientes"
              style="position: absolute; background: white; border: 1px solid #ccc; width: 100%; max-height: 200px; overflow-y: auto; z-index: 10;">
              
              <li
                *ngFor="let item of clientesFiltrados"
                (mousedown)="seleccionarCliente(item)"
                style="padding: 5px; cursor: pointer;">
                {{ item.CardCode }} - {{ item.CardName }}
              </li>
            </ul>
          </div>
        </div>
        <div class="row mb-2">
          <label for="nomServ"class="col-sm-5 text-verde-makita">Nombre STA :</label>
          <div class="col-sm-7">
            <input type="text" id="nomServ"  formControlName="NombreServicioAut" class="form-control " autocomplete="off" />
          </div>
        </div>
        <div class="row mb-2">
          <label for="nombreTecnico" class="col-sm-5 text-verde-makita">Nombre del técnico :</label>
          <div class="col-sm-7">
            <input type="text" id="nombreTecnico" formControlName="NombreTecnico" class="form-control" autocomplete="off"/>
          </div>
        </div>
        
        <div class="row mb-2">
          <label class="col-sm-5 text-verde-makita" for="fecha">Fecha ingreso :</label>
          <div class="col-sm-7">
            <input type="date" id="fecha" formControlName="FechaDigitalizacionOs" class="form-control" autocomplete="off"/>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-5 text-verde-makita" for="modelo">Modelo :</label>
          <div class="col-sm-7">
            <input
              type="text"
              id="modelo"
              formControlName="Modelo"
              (input)="buscarModelos()"
              (blur)="ocultarListaConDelay()"
              (focus)="buscarModelos()"
              style="width: 100%;" 
              autocomplete="off"/>
            
              <!-- Lista de sugerencias -->
            <ul
              class="sugerencias"
              *ngIf="modelosFiltrados.length > 0 && mostrarSugerencias"
              style="position: absolute; background: white; border: 1px solid #ccc; width: 100%; max-height: 200px; overflow-y: auto; z-index: 10;">
              
              <li
                *ngFor="let item of modelosFiltrados"
                (mousedown)="seleccionarModelo(item)"
                style="padding: 5px; cursor: pointer;">
                {{ item.ItemCode }} - {{ item.ItemName }}
              </li>
            </ul>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-5 text-verde-makita" for="descripcion">Descripción :</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="descripcion" formControlName="Descripcion" disabled autocomplete="off" />
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-5 text-verde-makita" for="serie">Serie :</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="serie" formControlName="serie" autocomplete="off" />
          </div>
        </div>

      </div>
      <div class="col-md-6">
        
        <div class="row mb-2">
          <label class="col-sm-5 text-verde-makita" for="nomConsumidor">Nombre cliente :</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="nomConsumidor" formControlName="NombreConsumidor" autocomplete="off" />
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-5 text-verde-makita" for="rutConsumidor">Rut cliente :</label>
          <div class="col-sm-7">
            <input 
              type="text" 
              class="form-control" 
              id="rutConsumidor" 
              formControlName="RutConsumidor" 
              [value]="garantiaForm.get('RutConsumidor')?.value"
              (input)="onRutInput($event)" 
              maxlength="12"
              autocomplete="off" />

              <div  class="error mt-1"
                *ngIf="garantiaForm.get('RutConsumidor')?.touched && garantiaForm.get('RutConsumidor')?.hasError('rutInvalido')"
                style="color: #ff0000; font-weight: bold;">
                RUT inválido.
              </div>
              <!-- Mensaje si está vacío y es requerido -->
              <div  class="error mt-1"
                  *ngIf="garantiaForm.get('RutConsumidor')?.touched && garantiaForm.get('RutConsumidor')?.hasError('required')"
                  style="color: #ff0000; font-weight: bold;">
                El RUT es obligatorio.
              </div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-5 text-verde-makita" for="emailConsumidor">Email cliente :</label>
            <div class="col-sm-7">
              <input
                type="text"
                class="form-control"
                id="emailConsumidor"
                formControlName="emailConsumidor"
                autocomplete="off"
                [ngClass]="{
                  'is-invalid': garantiaForm.get('emailConsumidor')?.invalid && garantiaForm.get('emailConsumidor')?.touched,
                  'is-valid': garantiaForm.get('emailConsumidor')?.valid && garantiaForm.get('emailConsumidor')?.touched
                }"
              />

              <!-- Mensaje de error -->
              <div
                class="error mt-1"
                *ngIf="
                  garantiaForm.get('emailConsumidor')?.hasError('email') &&
                  garantiaForm.get('emailConsumidor')?.touched
                "
                style="color: #ff0000; font-weight: bold;"
              >
                Ingresa un correo electrónico válido (por ejemplo: usuario@correo.com)
              </div>

              <div
                class="error mt-1"
                *ngIf="
                  garantiaForm.get('emailConsumidor')?.hasError('required') &&
                  garantiaForm.get('emailConsumidor')?.touched
                "
                style="color: #ff0000; font-weight: bold;"
              >
                El correo electrónico es obligatorio.
              </div>
            </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-5 text-verde-makita" for="regionConsumidor">Región cliente :</label>
          <div class="col-sm-7">
            <select id="regionConsumidor" formControlName="RegionConsumidor">
              <option value="">Seleccione una región</option>
              <option *ngFor="let region of dataRegiones" [value]="region.nombre">{{ region.nombre }}</option>
            </select>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-5 text-verde-makita" for="comunaConsumidor">Comuna cliente :</label>
          <div class="col-sm-7">
            <select id="comunaConsumidor" formControlName="ComunaConsumidor">
              <option value="">Seleccione una comuna</option>
              <option *ngFor="let comuna of dataComunas" [value]="comuna.nombre">{{ comuna.nombre }}</option>
            </select>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-5 text-verde-makita" for="dirConsumidor">Dirección cliente :</label>
          <div class="col-sm-7">
            <input type="text" class="form-control"  autocomplete="off" id="dirConsumidor" formControlName="DireccionConsumidor" />
          </div>
        </div>
        
        <div class="row mb-2">
          <label class="col-sm-5 text-verde-makita" for="revendedor">Nombre distribuidor</label>
          <div class="col-sm-7">
            <input 
              type="text" 
              id="revendedor" 
              formControlName="Revendedor" 
              (input)="buscarProveedor()"
              (blur)="ocultarListaConDelay()"
              (focus)="buscarProveedor()" style="width: 100%;" 
              autocomplete="off"/>
            
              
            <ul
              class="sugerencias"
              *ngIf="proveedorFiltrados.length > 0 && mostrarSugerenciasProveedores"
              style="position: absolute; background: white; border: 1px solid #ccc; width: 100%; max-height: 200px; overflow-y: auto; z-index: 10;">
              
              <li
                *ngFor="let item of proveedorFiltrados"
                (mousedown)="seleccionarProveedor(item)"
                style="padding: 5px; cursor: pointer;">
                {{ item.CardName }}
              </li>
            </ul>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-5 text-verde-makita" for="telCliente">Teléfono cliente :</label>
          <div class="col-sm-7">
            <input
              class="form-control"
              type="text"
              id="telCliente"
              formControlName="TelCliente"
              [value]="garantiaForm.get('TelCliente')?.value"
            autocomplete="off"
              maxlength="12"
            />
            <div  class="error mt-1"  *ngIf="garantiaForm.get('TelCliente')?.hasError('pattern')"  style="color: #ff0000; font-weight: bold;">
              El número debe empezar con +569 y contener 8 dígitos numéricos.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group full-width">
      <textarea id="informeTec" rows="3" formControlName="InformeTecnico" placeholder="Describe el diagnóstico..."></textarea>
    </div>
    

    <div *ngIf="userRole !== 'STM'">  
      <h3 class="seccion-titulo">Adjuntar Archivos</h3>
      <div class="form-grid">
        <div class="form-group full-width adjuntos-container">
          <!-- 1: Serie Herramienta -->
          <div class="adjunto-item">
            <label>Serie herramienta</label>
            <input
              formControlName="serieHerramienta" 
              type="file"
              id="archivo0"
              accept=".jpg,.jpeg,.png,.pdf"
              (change)="onFileSelected($event, 0)"
             
              required
            />
            <div class="file-preview" *ngIf="filePreviews[0]">
              <ng-container *ngIf="filePreviews[0].type.startsWith('image/')">
                <img [src]="filePreviews[0].url" alt="Vista previa">
              </ng-container>
              <ng-container *ngIf="!filePreviews[0].type.startsWith('image/')">
                <span>{{ filePreviews[0].name }}</span>
              </ng-container>
              <a style="cursor: pointer;" (click)="clearFile(0)">❌</a>
            </div>
          </div>

          <!-- 2: Herramienta -->
          <div class="adjunto-item">
            <label>herramienta</label>
            <input
              formControlName="herramienta" 
              type="file"
              id="archivo1"
              accept=".jpg,.jpeg,.png,.pdf"
              (change)="onFileSelected($event, 1)"
              required
            />
            <div class="file-preview" *ngIf="filePreviews[1]">
              <ng-container *ngIf="filePreviews[1].type.startsWith('image/')">
                <img [src]="filePreviews[1].url" alt="Vista previa">
              </ng-container>
              <ng-container *ngIf="!filePreviews[1].type.startsWith('image/')">
                <span>{{ filePreviews[1].name }}</span>
              </ng-container>
                <a style="cursor: pointer;" (click)="clearFile(1)">❌</a>
            </div>
          </div>

          <!-- 3: Repuesto -->
          <div class="adjunto-item">
            <label>Adjuntar repuesto</label>
            <input
              formControlName="repuesto" 
              type="file"
              id="archivo2"
              accept=".jpg,.jpeg,.png,.pdf"
              (change)="onFileSelected($event, 2)"
              required
            />
            <div class="file-preview" *ngIf="filePreviews[2]">
              <ng-container *ngIf="filePreviews[2].type.startsWith('image/')">
                <img [src]="filePreviews[2].url" alt="Vista previa">
              </ng-container>
              <ng-container *ngIf="!filePreviews[2].type.startsWith('image/')">
                <span>{{ filePreviews[2].name }}</span>
              </ng-container>
                <a style="cursor: pointer;" (click)="clearFile(2)">❌</a>
            </div>
          </div>

          <!-- 4: Boleta -->
          <div class="adjunto-item">
            <label>Boleta/Factura</label>
            <input
              formControlName="boleta" 
              type="file"   
              id="archivo3"
              accept=".jpg,.jpeg,.png,.pdf"
              (change)="onFileSelected($event, 3)"
              required
            />
            <div class="file-preview" *ngIf="filePreviews[3]">
              <ng-container *ngIf="filePreviews[3].type.startsWith('image/')">
                <img [src]="filePreviews[3].url" alt="Vista previa">
              </ng-container>
              <ng-container *ngIf="!filePreviews[3].type.startsWith('image/')">
                <span>{{ filePreviews[3].name }} </span>
              </ng-container>
                <a style="cursor: pointer;" (click)="clearFile(3)">❌</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <button type="submit" [disabled]="garantiaForm.invalid">Guardar</button>
    

  </form>
</div>

   <div *ngIf="isLoading" class="loading">
      <mat-spinner diameter="50" style="margin: auto;"></mat-spinner>
      <p style="text-align: center;">{{mensajeCarga}}</p>
    </div>
