.grafico-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px; /* Hace el gráfico más cuadrado */
    width: 500px;  
    margin: auto;
  }
  
  .info-grafico {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
  }
  
  
  canvas {
    max-width: 100% !important;
    max-height: 100% !important;
  }
  
