<div class="grafico-container">
  <div class="grafico-titulo">
    <h3>Avance de Inventario</h3>
    <p>Se encontraron <strong>{{ totalItems }}</strong> Items de {{ titulo.substring(3) }}</p>
  </div>

  <!-- Nuevo contenedor flexible -->
  <div class="grafico-flex">
    <div class="chart-wrapper">
      <canvas class="canvas-style" #graficoCanvas></canvas>
      <div class="center-text">
        <strong>{{ ((conteoRealizado / totalItems) * 100).toFixed(2) }}%</strong>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <mat-accordion>
        <mat-expansion-panel style="margin-top: 2%;">
          <mat-expansion-panel-header>
                <mat-panel-title style="color: #00909E; font-size: 2em; height: 1em; font-weight: 500;">Detalles Conteo Inicial</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="grafico-info">
            <p><strong style="font-size: 30px;">{{ totalDirefencias }}</strong> Items con diferencias en el conteo</p>
            <p><strong style="font-size: 30px;">{{ totalItems }}</strong> Items en total, <strong style="font-size: 30px;">{{ conteoRealizado }}</strong> Items contados.</p>
            <p><strong style="font-size: 30px;">{{ saldoTotal }}</strong> Unidades en total, <strong style="font-size: 30px;">{{ conteoTotal }}</strong> Unidades han sido contadas.</p>
          </div>
        </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
